/*
 * Copyright(c) 2010 Les Zindeps.
 *
 * The code source of this project is distributed
 * under the Affero GPL GNU AFFERO GENERAL PUBLIC LICENSE
 * Version 3, 19 November 2007
 *
 * This file is part of project LesZindeps. The source code is
 * hosted on GitHub. The initial project was launched by
 * Nicolas Martignole.
 *
 * LesZindeps is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * LesZindeps is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 *
 * Please see COPYING.AGPL.txt for the full text license
 * or online http://www.gnu.org/licenses/agpl.html
 */

/* ----------------------------------------------
 * RESET
 * ------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    outline: 0;
    font-size: 100%;
    line-height: 1.22em;
    vertical-align: baseline;
}

body {
    line-height: 1.3em;
    font-size: 13px;
    font-family: Tahoma, sans-serif;
}

h1 {
    font-size: 20px;
    padding-bottom: 5px;
    padding-top: 15px;
}

h2 {
    font-size: 18px;
    padding-bottom: 5px;
    padding-top: 15px;
}

h3 {

    font-size: 16px;
    padding-bottom: 5px;
    padding-top: 15px;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

:focus {
    outline: 0;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

form {
    line-height: 1.5em;
}

/* ----------------------------------------------
 * GENERAL
 * ------------------------------------------- */
html {
    margin: 0;
    background: #fff;
    color: #000;
}

#header {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 130px;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 1px;

}

#mainContent {
    padding-top: 20px;
}

#uneautre {
    padding-bottom: 20px;
    height: 60px;
}

#nav {

}

a {
    color: #660066;

}

a:hover {
    color: #ff6600;

}

a:active {
    color: #ff6600;
}

a.selected {
    color: #660066;
}

.userAuth {
    font-size: 0.8em;
    color: #666666;
    padding-left: 6px;
}

.adminLeftNav a {
    margin-bottom: 4px;
}

/* ----------------------------------------------
 * LIST
 * ------------------------------------------- */
.zindepTable table {
    width: 100%;
    table-layout: fixed;
    text-align: left;
    font-size: 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 12px;
}

.zindepTable a{
    text-decoration:none;
}

.zindepTable td {
    padding: 15px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

/* Simple Table */
.simpleTable table {
    width: 100%;
    table-layout: fixed;
    text-align: left;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

/* ----------------------------------------------
* ADD
* ------------------------------------------- */

form em {
    font-size: 12px;
    color: #918f8f;
    font-style: italic;
}

form label {
    display: block;
    padding-top: 10px;
    font-weight: bold;
}

form p.field {
    padding: 5px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

form p.buttons {
    padding-top: 20px;
}

form .error {
    color: #ff3333;
    padding-top: 3px;
}

/* ----------------------------------------------
* FOOTER
* ------------------------------------------- */
#footer {
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 100%;
    padding: 90px 0;
    cursor: default;
}

#footer p {
    color: #555;
    text-decoration: none;
    font-size: 10px;
}

#footer a:link {
    text-decoration: none;
    color: #555;
}

#footer a:hover {
    text-decoration: none;
    color: #844;
}

#footer a:visited {
    text-decoration: none;
    color: #555;
}

.errorbox {
    background: #FCF5F5;
    border: 1px solid #db9ea0;
    margin-top: 5px;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 30px;
    padding: 10px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.error {
    color: #FC3535;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
}

.successbox {
    background: #e5f4e1;
    border: 1px solid #d1e7ca;
    margin: 0 0 10px;
    padding: 10px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.openIdPanel {
    line-height: 20px;
}

.openidinput {
    margin-top: 5px;
    line-height: 22px;
    padding-left: 32px;
    background: url(http://sstatic.net/img/openid-large.png) no-repeat 0% 50%;
    width: 250px;
}

/* Open ID BEGIN */
#openid {
    background: url(../images/indicator.gif) center center no-repeat;
    margin: 0 auto;
    width: 440px;
    height: 162px;
}

#openid_inputarea {
    clear: both;
    display: none;
    background: url(../images/balloon.png) no-repeat;
    width: 410px;
    height: 48px;
    color: white;
    text-align: center;
    margin-top: 35px;
    padding-top: 17px;
}

#openid_inputarea #openid_username {
    margin: 0 4px 0 8px;
    width: 120px;
}

#openid_btns, #openid_btns br {
    clear: both;
}

#openid_highlight {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 2px;
    background-color: #FFFCC9;
    float: left;
}

.openid_large_btn, .openid_small_btn {
    background: url(../images/openid-icons.png) no-repeat;
    margin: 3px;
    float: left;
}

.openid_large_btn {
    width: 91px;
    height: 51px;
}

.openid_small_btn {
    width: 16px;
    height: 16px;
}

.Google {
    background-position: 0 0;
}

.Yahoo {
    background-position: 0 -51px;
}

.AOL {
    background-position: 0 -102px;
}

.OpenID {
    background-position: 0 -153px;
}

.MyOpenID {
    background-position: 0 -204px;
}

.Flickr {
    background-position: 0 -220px;
}

.Technorati {
    background-position: -17px -220px;
}

.Wordpress {
    background-position: -17px -204px;
}

.Blogger {
    background-position: -34px -204px;
}

.Verisign {
    background-position: -51px -220px;
}

.Vidoop {
    background-position: -34px -220px;
}

.ClaimID {
    background-position: -68px -204px;
}

.LiveJournal {
    background-position: -51px -204px;
}

.MySpace {
    background-position: -68px -220px;
}

a.openid_large_btn:focus {
    outline: none;
    -moz-outline-style: none;
}

/* Open ID END */

.embp {
    color: #330066;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 5px;
}

.searchBox {
    background-image: url('/public/images/magnifying-glass.gif');
    background-repeat: no-repeat;
    padding-left: 20px;
}

fieldset {
    border: 1px solid #999;
    padding-left: 9px;
    padding-top: 9px;
    padding-bottom: 9px;
    margin-top: 5px;
}

legend {
    color: #330033;
    background: #fff;
    border: 1px solid #781351;
    padding: 2px 6px
}

#mainPage {

}

.zindepPicture {
    height: 80px;
    width:80px;
    border-width: 1px;
    border-color: #dfdfdf;
    border-style: solid;
    padding: 3px;
    -moz-box-shadow: 3px 3px 3px #ccc;
    -webkit-box-shadow: 3px 3px 3px #ccc;
    box-shadow: 3px 3px 3px #ccc;
}

/* Superbes boutons CSS3 tirés de ma démo qui déchire PimpMyApp */
/* (on sent le gars qui markete bien le truc */

.button, .button:visited {
    background: #222 url(/public/images/overlay.png) repeat-x;
    display: inline-block;
    padding: 5px 10px 6px;
    color: #fff;
    text-decoration: none;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    position: relative;
    cursor: pointer
}

.button:hover {
    background-color: #111;
    color: #fff;
}

.button:active {
    top: 1px;
}

.small.button, .small.button:visited {
    font-size: 11px
}

.button, .button:visited,
.medium.button, .medium.button:visited {
    font-size: 13px;
    font-weight: bold;
    line-height: 1;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
}

.large.button, .large.button:visited {
    font-size: 14px;
    padding: 8px 14px 9px;
}

.super.button, .super.button:visited {
    font-size: 34px;
    padding: 8px 14px 9px;
}

.pink.button, .magenta.button:visited {
    background-color: #e22092;
}

.pink.button:hover {
    background-color: #c81e82;
}

.green.button, .green.button:visited {
    background-color: #91bd09;
}

.green.button:hover {
    background-color: #749a02;
}

.red.button, .red.button:visited {
    background-color: #e62727;
}

.red.button:hover {
    background-color: #cf2525;
}

.orange.button, .orange.button:visited {
    background-color: #ff5c00;
}

.orange.button:hover {
    background-color: #d45500;
}

.blue.button, .blue.button:visited {
    background-color: #2981e4;
}

.blue.button:hover {
    background-color: #2575cf;
}

.yellow.button, .yellow.button:visited {
    background-color: #ffb515;
}

.yellow.button:hover {
    background-color: #fc9200;
}

/* ---------------------------------------------- */

.simpleTable th {
    padding: 13px 6px 13px 6px;
    border: 1px solid #dfdfdf;
    background-color: #252525;
    color:#fff;

}

.simpleTable td {
    padding: 13px 6px 13px 6px;
    border: 1px solid #d4d2d2
}

.simpleTable td.flex {
    width: 269px
}

.simpleTable td.end, simpleTable th.end {
    border-right: none
}

.simpleTable tr.even td {
    background-color: #f4f4f4
}

/* ----------------------------------------------
* Details d'une fiche
* ------------------------------------------- */
.infosDetails {
	font-size: 9pt;
	color: #7e807f;
}

.positive{
	background-color: #D1F3D1;
}
.negative{
	background-color: #FFCCCA;
}

