#{extends 'main.html' /}
#{set title:'Qui' /}
<div class="grid_6 prefix_4 suffix_2">
    <h1>Travaillons ensemble</h1>
</div>


<div class="grid_4">
    #{form @search()}
    <input type="text" name="s" value="" class="searchBox" size="25" placeholder="Recherche par nom ou prénom"/>
    #{/form}
    <br/>
    #{filterZindepsAvailable listOfZindeps:listOfZindeps /}
</div>

<div class="grid_8">

    <table class="zindepTable">
        #{list items:listOfZindeps, as:'indep'}
        #{if (indep_index % 5)==1}
        <TR>
            &nbsp;
            #{/if}
            <td class="${indep.currentAvailability.removeWhiteSpaces()}">#{a
                @showProfile(indep.id,indep.firstName,indep.lastName)}
                #{if indep.pictureUrl && indep.pictureUrl!='undefined'}
                <img src="${indep.pictureUrl}"
                     alt="${indep.firstName} ${indep.lastName}"
                     class="zindepPicture"/>
                #{/if}

                #{/a}<br/>
                ${indep.firstName} ${indep.lastName}<br/>
                #{a @showProfile(indep.id,indep.firstName,indep.lastName),class:'button green small'}Profil#{/a}
                #{if indep.blogUrl && indep.blogUrl!='undefined'}
                <a href="${indep.blogUrl}" class='button green small' target="_blank">Blog</a>
                #{/if}
            </td>

            #{if (indep_index % 5)==0}
        </TR>
        #{/if}
        #{/list}
    </table>

</div>


<div class="clear">&nbsp;</div>

<script src="http://code.jquery.com/jquery-latest.js"></script>
<script>
    if ($(".disponible").size() > 0 || $(".atempspartiel").size() > 0) {
        $("#zindepdispo").click(function () {
            $(".nondisponible").toggle();
            var $checkbox = $(this).find(':checkbox');
            $checkbox.prop('checked', !$checkbox[0].checked);
        });
    }
</script>
